<div class="card text-center">
    <div class="card-header">
        Datos de la alumna
    </div>
    <div class="card-body">
        <h4>María de los Angeles Morales González</h4>
        <p>Soy estudiante de la universidad Tecnologica del Norte de 
            Guanajuato, cursando la carrera de Desarrollo de Software 
            Multiplataforma en el grupo GDS0151. 
        </p>
        <a href="/" class="btn btn-primary">Regresar</a>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>