<div class="card text-center">
    <div class="card-header">
        CRud con MongoDB y NodeJS
    </div>
    <div class="card-body">
        <img src="/img/ul.png">
        <h4>María de los Angeles Morales González</h4>
        <p>MongoDB Atlas es la base de datos como servicio que permite implementar, 
            utilizar y escalar una base de datos de MongoDB en la nube haciendo conexión con NodeJS.
        </p>
        <p>El controlador oficial de MongoDB Node.js proporciona interacción basada en callback y Promise con MongoDB, lo que permite a las aplicaciones aprovechar al máximo las nuevas funciones de
             ES6. La serie 2.x del controlador funciona con un nuevo controlador central y una biblioteca BSON.</p>
        
    </div>
    <div class="card-footer text-muted">

    </div>
</div>