<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nueva Cuenta</h3>
            <div class="card-body">
                <form action="/cuentas/new-cuentas" method="POST">
                    <div class="form-group">
                        <input type="number" name="NumCuenta" class="form-control" placeholder="Numero cuenta" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nombreCli" class="form-control" placeholder="Nombre cliente" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="banco" class="form-control" placeholder="Nombre banco" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="number" name="saldo" class="form-control" placeholder="Saldo actual" autofocus>
                    </div>
                    <div class="form-group">
                        <textarea name="description" class="form-control" placeholder="Descripción cuenta"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>